<!DOCTYPE html>
<html lang="ko">
  <head>
    {% include "@dom/meta.njk" %}
    <title>
      {% block title %}Document{% endblock %}
    </title>
  </head>
  <body>
    <main>
      {% block body %}{% endblock %}
    </main>
  </body>
</html>